/* Cascading Style Sheet*/
/*선택자(selecotr) */

.blind{
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}

#header-center{
    margin: 0 auto;
    width: 1080px;
}

#header-search > h1{
    width: 200px;
    height: 60px;
    display: inline-block;
    background-image: url(https://s.pstatic.net/static/www/img/uit/2019/sp_search.svg);
}

#header-search h2{
    display: none;
}

#header-search fieldset{
    width: 520px;
    display: inline-block;
}